/* client/src/app/globals.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f9f8f4;
  --secondary-color: #000099;
  --thirdly-color: #e1d5e7;
  --fourthly-color: #616161;
  --fifthly-color: #e6e6e6;
}

body {
  background-color: var(--primary-color);
  color: var(--fourthly-color);
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", Courier, monospace;
}

h1,
.logo {
  font-family: "Oleo Script", cursive;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
